<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户注册-首都地铁志愿者</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.5.9/css/sm.min.css">
    <link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.5.9/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <!-- 页面主体 -->
    <div class="page" id="page">
      <header class="bar bar-nav">
        <h1 class="title">注册</h1>
        <div class="button button-link button-nav pull-right" href="login.html" @click="openSignup">
          登录
          <span class="icon icon-right"></span>
        </div>
      </header>
      <!-- 页面内容区 -->
      <div class="content">
        <div class="card">
          <div class="card-content">
            <div class="card-content-inner">
              <img src="images/logo2.png" width="100%" />
            </div>
          </div>
        </div>
        <div class="content-block">
          <div class="list-block">
            <ul>
              <!-- Text inputs -->
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="color-success label">账号信息</div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">用户名</div>
                    <div class="item-input">
                      <input type="text" placeholder="6～20个字符, 字母数字的组合" v-model="userName">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">密码</div>
                    <div class="item-input">
                      <input type="password" placeholder="长度为6-20" v-model="password">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">确认密码</div>
                    <div class="item-input">
                      <input type="password" placeholder="再次输入密码" v-model="passwordAgain">
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-title label">邮箱</div>
                    <div class="item-input">
                      <input type="email" placeholder="正确格式的电子邮箱" v-model="email">
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-block">
          <div class="row">
            <div class="col-10">&nbsp;</div>
            <div class="col-80">
              <div class="button button-big button-fill button-success" @click="nextStep">下一步</div>
            </div>
            <div class="col-10">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <!-- 引入脚本CDN文件 -->
    <script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.5.9/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.5.9/js/sm-extend.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='http://cdn.bootcss.com/vue/1.0.13/vue.min.js' charset='utf-8'></script>
    <script type="text/javascript">
      window.onload = function(){
        $.init();
        
        var page = new Vue({
          el:"#page",
          data:{},
          methods:{
            nextStep:function(){
              $.showIndicator();
              if(this.checkForm()){
                location.href = 'signup_step_2.html';
              }

            },
            checkForm:function(){
              alert( JSON.stringify(this.$data) );
              return true;
            },
            openSignup:function(){
              $.showIndicator();
              location.href = 'login.html';
            }
          }
        });
      }
    </script>
  </body>
</html>